body {
    padding-bottom: 40px;
    background-color: #EDEDED;
    color: #5a5a5a;
}
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}
.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}

.container {
    width: auto;
}
.logo{
	width: 80%;
}
.negrita{
	font-weight: 700;
}

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }
	
	.logo{
		width: 50%;
	}
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}

.pd{
	padding: 40px;
}

input[type="text"], select, option{
	text-transform: uppercase;
}
